# Output dir and files
Bin/
Obj/
*.a
*.so
Debug/
Release/
*.dir/
x64/

# Visual Studio Stuff
*.vsp
*.psess
*.opensdf
*.opendb
*.sdf
*.suo
*.vcx
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
/.vs

# CMake stuff
cmakebin/
CMakeFiles/
*.cmake
CMakeCache.txt