# Output dir and files
Bin/
Obj/
*.a
*.so

# Visual Studio Stuff
*.vsp
*.psess
*.opensdf
*.opendb
*.sdf
*.suo
*.vcx
*.vcxproj.user
*.VC.db
/.vs

# CMake stuff
cmakebin/
CMakeFiles/
*.cmake
CMakeCache.txt